<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ribcage Example</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

        <script src="build/ribcage.js"></script>

        <script>
        $( function(){
            var layout = new Ribcage(
                {
                    "regions": {
                        "page": "#page"
                    },
                    "element": "body",
                    "template": '<div id="page"></div>'
                }
            );

            var View = Backbone.View.extend( {
                "template": _.template( "<%= data.instance %> is running.", { "variable": "data" } ),

                "initialize": function(){
                    this.render();
                },

                "render": function(){
                    var instances = [
                        "Page",
                        "App",
                        "Site"
                    ];
                    var instance = Math.floor( Math.random() * instances.length );

                    this.$el.html( this.template( {
                        "instance": instances[ instance ]
                    } ) );
                }
            } );

            var myLayout = layout.render();

            myLayout.explore( "page" ).show( View );
        } );
        </script>
    </head>
    <body>
    </body>
</html>
